$black-primary: #0E0F12;
$black-secondary: #21242b;
$gray-primary: #3f444a;
$white-primary: #efefef;
$white-secondary: #8a8f98;
$violet-primary: #472790;
$violet-secondary: #654CA3;
$violet-text: #a9a1e1;
$yellow: #ECBE7B;
